body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.light-square {
  background: #FFF8DC;
  border: 1px solid #999;
  float: left;
  font-size: 21px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.dark-square {
  background: #CD853F;
  border: 1px solid #999;
  float: left;
  font-size: 21px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.column-notation {
  background: #fff;
  float: left;
  font-size: 10px;
  line-height: 14px;
  height: 14px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.row-notation {
  background: #fff;
  float: left;
  font-size: 10px;
  line-height: 50px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 16px;
}

.board-columns {
  margin-left: 16px;
  clear: both;
  display: table;
}

.square:focus {
  outline: none;
}

.light-square:focus {
  outline: none;
}

.dark-square:focus {
  outline: none;
}

.kbd-navigation .light-square .dark-square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.piece-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#wQ, #bQ, #wB, #bB {
  width: 100%;
}

#wK, #bK {
  width: 85%;
}

#wp, #bp {
  width: 50%;
}
